
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.minimal-scrollbar::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}
.minimal-scrollbar::-webkit-scrollbar-button,
.minimal-scrollbar::-webkit-scrollbar-button:single-button,
.minimal-scrollbar::-webkit-scrollbar-button:start,
.minimal-scrollbar::-webkit-scrollbar-button:end {
  display: none;
  width: 0;
  height: 0;
  background-color: var(--color-flame-light);
}
.minimal-scrollbar::-webkit-scrollbar-track {
  background-color: var(--color-flame-light);
}
.minimal-scrollbar::-webkit-scrollbar-corner {
  background-color: var(--color-flame-light);
}
.minimal-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-flame);
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.maplibregl-ctrl-top-right {
  top: 132px;
}
.maplibregl-ctrl-top-right .maplibregl-ctrl {
  margin-right: 12px;
}
